body {
    background-color: blue;
    font-family: 'Times New Roman', Times, serif;
}

.title {
    transition: opacity 1s ease-out, transform 1s ease-out;
    opacity: 0;
    transform: translateY(-100px); 
    color: #ffd700; /
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-size: 3em;
    text-align: center;
    font-style: italic;
    font-family: serif;
    animation: pulse 2s infinite alternate;
}


.title.slide-in {
    opacity: 1;
    transform: translateY(0); 
}

@keyframes pulse {
    0% {
        transform: scale(1);
        text-shadow: 0 0 5px gold, 0 0 10px rgba(255, 215, 0, 0.5);
    }
    50% {
        transform: scale(1.03);
        text-shadow: 0 0 10px gold, 0 0 20px rgba(255, 215, 0, 0.8), 0 0 30px rgba(255, 215, 0, 0.5);
    }
    100% {
        transform: scale(1);
        text-shadow: 0 0 5px gold, 0 0 10px rgba(255, 215, 0, 0.5);
    }
}


.option-container {
    text-align: center; 
    margin-top: 50px;
}

.option-button {
    display: inline-block;
    padding: 15px 30px;
    margin: 0 15px;
    text-decoration: none; 
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    
    background-color: #001f3f; 
    color: #ffd700; 
    border: 3px solid #ffd9009c; 
    border-radius: 8px;

    transition: background-color 0.3s ease, 
                box-shadow 0.3s ease,
                transform 0.3s ease;
}

.option-button:hover {
    transform: scale(1.05); 
    background-color: #ffcc00; 
    box-shadow: 0 0 15px #ffd700,
                0 0 25px rgba(255, 215, 0, 0.7);
    color: #001f3f; 
}

.rule-container {
    max-width: 900px;
    margin: 50px auto; 
    padding: 20px;
    text-align: center; 
}

.rule-box {
    background-color: #001f3f;
    color: #ffffff;
    border: 2px solid #ffd700;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 25px; 
    text-align: left; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
}


.rule-box h2 {
    color: #ffcc00; 
    border-bottom: 2px dashed #ffd700;
    padding-bottom: 10px;
    margin-top: 0;
    font-style: italic;
}


.ready-button {
    margin-top: 30px;
    font-weight: bold; 
}
